.badge {
  background-color: tomato;
  color: white;
  font-weight: 400;
  font-size: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}
